<% cache(resource) do %>
  <ul data-level=<%= level %>>
    <% resource.children.each do |child| %>
      <li>
        <%# render DOMControl.new(check: :edit, resource: child) do %>
        <DOMControl check='edit' resource='<%= dom_id(child) %>'>
          <%= link_to child.name, edit_resource_path(child) %>
        </DOMControl>
        <%# end %>
        <DOMControl unless='edit' resource='<%= dom_id(child) %>'>
          <%= child.name %>
        </DOMControl>
      </li>
      <%= render partial: "resource_with_children", locals: {resource: child, level: level + 1} %>
    <% end %>
  </ul>
<% end %>